In [1]:
from bs4 import BeautifulSoup
import requests
import gspread
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support import select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
from gspread_dataframe import set_with_dataframe
import requests
import selenium.webdriver as webdriver
import time

In [2]:
s = Service("C:\\Users\\Admin\\Downloads\\DA TOOLS\\chromedriver.exe")
browser = webdriver.Chrome (service=s)
browser.get ( " https://www.linkedin.com " )

In [3]:
username = browser.find_element("id", 'session_key' )
username.send_keys ( "aakhetan@gmail.com" )
password = browser.find_element("id", "session_password" )
password.send_keys ( "yourpass" )

In [4]:
login = browser.find_element("class name", 'sign-in-form__submit-button' )
login.click()

In [11]:
job=[]
location=[]
company=[]
followers=[]
job_detail=[]
empc_indus=[]
inv_level=[]
applicants=[]
for i in range(0,976,25):
    a='https://www.linkedin.com/jobs/search/?currentJobId=3435301463&geoId=102713980&location=India&refresh=true&start='+str(i)
    browser.get(a)
    l=[]
    time.sleep(5)
    links=browser.find_elements('tag name','a')
    for i in links:
        l.append(i.get_attribute('href'))
    href=[]
    for i in l:
        if 'jobs/view' in i:
            href.append(i)
    href_final=set(href)
    for i in href_final:
        browser.get(i)
        browser.implicitly_wait(15)
        try:
            d=browser.find_element("class name","artdeco-entity-lockup__subtitle")
            followers.append(d.text)
        except:
            followers.append('NA')
        try:
            e=browser.find_element("class name",'jobs-unified-top-card__applicant-count')
            applicants.append(e.text)
        except:
            applicants.append('NA')    

        try:
            a=browser.find_element("class name","jobs-unified-top-card__job-title")
            job.append(a.text)
        except:
            job.append('NA')
        try:
            b=browser.find_element("class name","jobs-unified-top-card__bullet")
            location.append(b.text)
        except:
            location.append('NA')    

        try:
            c=browser.find_element("class name","jobs-unified-top-card__company-name")
            company.append(c.text)
        except:
            company.append('NA')
        try:
            d=browser.find_elements("class name","jobs-unified-top-card__job-insight")
            inv_level.append(d[0].text)
            empc_indus.append(d[1].text)
        except:
            inv_level.append('NA')
            empc_indus.append('NA')

In [ ]:
#col=['Job Title','Location','Company','empc_indus','Followers','inv_level','Applicants']
#df=pd.DataFrame({'Job Title':job,'Location':location,'Company':company,'empc_indus':empc_indus,'Followers':followers,'inv_level':inv_level,'Applicants':applicants})

In [ ]:
df

In [ ]:
#df.to_csv('Linkedinanalyst.csv')

In [ ]:
#col1=['Job Title','Location','Company','empc_indus','Followers','inv_level','Applicants']
#df1=pd.DataFrame({'Job Title':job,'Location':location,'Company':company,'empc_indus':empc_indus,'Followers':followers,'inv_level':inv_level,'Applicants':applicants})

In [ ]:
df1

In [ ]:
#df1.to_csv('Linkedinmarketing.csv')

In [12]:
col2=['Job Title','Location','Company','empc_indus','Followers','inv_level','Applicants']
df2=pd.DataFrame({'Job Title':job,'Location':location,'Company':company,'empc_indus':empc_indus,'Followers':followers,'inv_level':inv_level,'Applicants':applicants})

In [13]:
df2

,Job Title,Location,Company,empc_indus,Followers,inv_level,Applicants
0,Analytics Analyst-Warranty Analytics,"Mumbai, Maharashtra, India",Accenture in India,"10,001+ employees · IT Services and IT Consulting","1,539,538 followers",Full-time · Entry level,15 applicants
1,Data Quality Analyst & Support,"Bengaluru, Karnataka, India",HP,"10,001+ employees · IT Services and IT Consulting","5,160,688 followers",Full-time,58 applicants
2,Associate Manager - Data Analytics,"Hyderabad, Telangana, India",Sutherland,"10,001+ employees · IT Services and IT Consulting","499,360 followers",Full-time · Entry level,19 applicants
3,Spec Analytics Analyst 2,"Pune, Maharashtra, India",Citi,"10,001+ employees · Financial Services","3,950,290 followers",Full-time,14 applicants
4,Data Quality Analyst & Support,"Bengaluru, Karnataka, India",HP,"10,001+ employees · IT Services and IT Consulting","5,160,688 followers",Full-time,58 applicants
...,...,...,...,...,...,...,...
313,Business Development Executive,"Mumbai, Maharashtra, India",Learning Routes,51-200 employees,"17,158 followers",Full-time,4 applicants
314,Market Research Internship in Mumbai at Prism ...,"Mumbai, Maharashtra, India",Prism HRC,51-200 employees · Human Resources,"1,850 followers",Full-time · Internship,NA
315,Consultant - ESG Advisory,"Bengaluru, Karnataka, India",WSP,"10,001+ employees · Professional Services","683,145 followers",Full-time · Mid-Senior level,15 applicants
316,Data Migration Experts,"Delhi Cantonment, Delhi, India",NuStar Technologies,1-10 employees · IT Services and IT Consulting,"6,868 followers",Full-time · Mid-Senior level,7 applicants
317,Analytics Analyst-Catastrophe Underwriting,"Bengaluru, Karnataka, India",Accenture in India,"10,001+ employees · IT Services and IT Consulting","1,539,566 followers",Full-time · Entry level,1 applicant

In [16]:
df2.to_csv('Linkedin1.csv')